# Untracked files in MPLABX projects
/**/build/*
/**/nbproject/*
!/**/nbproject/*.xml
/**/dist/*
/**/.generated_files/*
pic16f17146-cold-plate-mplab-mcc.X/pic16f17146-cold-plate-mplab-mcc.zip
pic16f17146-cold-plate-mplab-mcc.X/config.h.orig
pic16f17146-cold-plate-mplab-mcc.X/config_BACKUP_19476.h
pic16f17146-cold-plate-mplab-mcc.X/config_BASE_19476.h
pic16f17146-cold-plate-mplab-mcc.X/config_LOCAL_19476.h
pic16f17146-cold-plate-mplab-mcc.X/config_REMOTE_19476.h
pic16f17146-cold-plate-mplab-mcc.X/pic16f17146-cold-plate-mplab-mcc.mc3.bak0
pic16f17146-cold-plate-mplab-mcc.X/pic16f17146-cold-plate-mplab-mcc.mc3.bak1
pic16f17146-cold-plate-mplab-mcc.X/pic16f17146-cold-plate-mplab-mcc.mc3.bak2
pic16f17146-cold-plate-mplab-mcc.X/pic16f17146-cold-plate-mplab-mcc.mc3.bak3
pic16f17146-cold-plate-mplab-mcc.X/pic16f17146-cold-plate-mplab-mcc.mc3.bak4
